In [1]:

import statsmodels.api as sm

In [2]:

from sklearn import linear_model

In [6]:

import pandas as pd

df = pd.read_excel("C:\\Users\\KOROPEYB\\Desktop\\crackers\\sandbox\\Book2.xlsx", sheet_name = "DataFrame", headers = 7)

In [7]:
df

,Year,D1: 8-6 Summer,D1: 8-6 Winter,D2: 8-8 Summer,D2: 8-8 Winter,D3: All Day Summer,D3: All Day Winter
0,2020,9.020000,0,21.520000,15.900000,19.820000,6.310000
1,2019,9.008303,0,21.469564,15.756032,19.675170,6.170470
2,2018,8.961903,0,21.316991,15.662951,19.636307,5.896628
3,2017,8.927120,0,21.288266,15.520385,19.581701,5.886658
4,2016,8.885625,0,21.057579,15.488380,19.534210,5.873939
5,2015,8.640425,0,20.725806,15.321850,19.367011,5.702384
6,2014,8.127395,0,20.643963,15.046988,19.302874,5.646217
7,2013,8.026372,0,20.629062,15.043650,19.248308,5.595419
8,2012,8.024212,0,20.628147,14.912306,18.981549,5.558252

In [8]:

YD1S = df["D1: 8-6 Summer"]

In [9]:
YD1S

0    9.020000
1    9.008303
2    8.961903
3    8.927120
4    8.885625
5    8.640425
6    8.127395
7    8.026372
8    8.024212
Name: D1: 8-6 Summer, dtype: float64

In [10]:

YD2S = df["D2: 8-8 Summer"]
YD2S

0    21.520000
1    21.469564
2    21.316991
3    21.288266
4    21.057579
5    20.725806
6    20.643963
7    20.629062
8    20.628147
Name: D2: 8-8 Summer, dtype: float64

In [11]:

YD1W = df["D1: 8-6 Winter"]
YD2W = df["D2: 8-8 Winter"]
YD3W = df["D3: All Day Winter"]
YD1W
YD2W
YD3W

0    6.310000
1    6.170470
2    5.896628
3    5.886658
4    5.873939
5    5.702384
6    5.646217
7    5.595419
8    5.558252
Name: D3: All Day Winter, dtype: float64

In [12]:
YD1W

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
Name: D1: 8-6 Winter, dtype: int64

In [13]:
YD2W

0    15.900000
1    15.756032
2    15.662951
3    15.520385
4    15.488380
5    15.321850
6    15.046988
7    15.043650
8    14.912306
Name: D2: 8-8 Winter, dtype: float64

In [14]:
YD3W

0    6.310000
1    6.170470
2    5.896628
3    5.886658
4    5.873939
5    5.702384
6    5.646217
7    5.595419
8    5.558252
Name: D3: All Day Winter, dtype: float64

In [18]:

x = df[["D2: 8-8 Summer", "D3: All Day Summer","D1: 8-6 Winter", "D2: 8-8 Winter", "D3: All Day Winter"]]

In [19]:
x

,D2: 8-8 Summer,D3: All Day Summer,D1: 8-6 Winter,D2: 8-8 Winter,D3: All Day Winter
0,21.520000,19.820000,0,15.900000,6.310000
1,21.469564,19.675170,0,15.756032,6.170470
2,21.316991,19.636307,0,15.662951,5.896628
3,21.288266,19.581701,0,15.520385,5.886658
4,21.057579,19.534210,0,15.488380,5.873939
5,20.725806,19.367011,0,15.321850,5.702384
6,20.643963,19.302874,0,15.046988,5.646217
7,20.629062,19.248308,0,15.043650,5.595419
8,20.628147,18.981549,0,14.912306,5.558252

In [20]:
model = sm.OLS(YD1S, x).fit()

In [21]:
model.summary()

C:\Users\KOROPEYB\Anaconda3\lib\site-packages\scipy\stats\stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:         D1: 8-6 Summer   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                              6569.
Date:                Thu, 17 Dec 2020   Prob (F-statistic):                    1.75e-09
Time:                        19:24:49   Log-Likelihood:                          6.3798
No. Observations:                   9   AIC:                                     -4.760
Df Residuals:                       5   BIC:                                     -3.971
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
D2: 8-8 Summer        -0.2270      0.490     -0.463      0.663      -1.487       1.033
D3: All Day Summer    -1.3510      0.536     -2.523      0.053      -2.728       0.026
D1: 8-6 Winter       2.05e-16   1.24e-16      1.650      0.160   -1.14e-16    5.24e-16
D2: 8-8 Winter         2.8293      0.836      3.384      0.020       0.680       4.979
D3: All Day Winter    -0.6662      0.653     -1.020      0.355      -2.345       1.013
==============================================================================
Omnibus:                        1.312   Durbin-Watson:                   1.481
Prob(Omnibus):                  0.519   Jarque-Bera (JB):                0.931
Skew:                           0.645   Prob(JB):                        0.628
Kurtosis:                       2.094   Cond. No.                     1.09e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.23e-35. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [22]:
import numpy as np

np.corrcoef(df)

array([[1.        , 1.        , 0.99999999, 0.99999998, 0.99999998,
        0.99999995, 0.99999992, 0.99999991, 0.99999991],
       [1.        , 1.        , 0.99999999, 0.99999999, 0.99999999,
        0.99999996, 0.99999993, 0.99999992, 0.99999992],
       [0.99999999, 0.99999999, 1.        , 1.        , 0.99999999,
        0.99999998, 0.99999993, 0.99999993, 0.99999992],
       [0.99999998, 0.99999999, 1.        , 1.        , 1.        ,
        0.99999998, 0.99999994, 0.99999993, 0.99999993],
       [0.99999998, 0.99999999, 0.99999999, 1.        , 1.        ,
        0.99999999, 0.99999995, 0.99999994, 0.99999994],
       [0.99999995, 0.99999996, 0.99999998, 0.99999998, 0.99999999,
        1.        , 0.99999997, 0.99999996, 0.99999996],
       [0.99999992, 0.99999993, 0.99999993, 0.99999994, 0.99999995,
        0.99999997, 1.        , 1.        , 0.99999999],
       [0.99999991, 0.99999992, 0.99999993, 0.99999993, 0.99999994,
        0.99999996, 1.        , 1.        , 0.99999999],
       [0.99999991, 0.99999992, 0.99999992, 0.99999993, 0.99999994,
        0.99999996, 0.99999999, 0.99999999, 1.        ]])